*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 1.6rem;
  color: #c1c1c1;
  text-shadow: 2px 2px 1px black;
  background-color: #141415;
  margin: 0;
}

.flex {
  display: flex;
}

a:link,
a:active {
  color: #79c1ff;
}

a:visited {
  color: #905fde;
}

a:hover {
  color: #86de74;
}

.highlight {
  color: #f0f0f0;
}

/* main {
  max-width: 900px;
  margin: 10em auto 5em;
} */
