*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 1.6rem;
  color: #f0f0f0;
  text-shadow: 1px 1px 1px black;
  background-color: #141415;
  margin: 0;
}

/* Some typography */

.section-title {
  font-size: 3.5rem;
  color: #79c1ff;
  text-decoration: underline 2px #f0f0f0;
  margin-bottom: 10rem;
  text-align: center;
}

.highlight,
.section-title {
  font-weight: 500;
}

a:link,
a:active,
a:visited {
  color: #79c1ff;
}

a:hover {
  color: #ba7bf1;
}

.react {
  color: #79c1ff;
  text-decoration: underline 2px #f0f0f0;
}

@media (max-width: 600px) {
  .section-title {
    font-size: 3rem;
  }
  .react {
    color: inherit;
    text-decoration: none;
  }
}

/* Flips order of every other project element rendered by map */

.projects:nth-child(odd) > *:first-child {
  order: 1;
}

.projects:nth-child(odd) > *:last-child {
  text-align: right;
}

.p--link:first-of-type {
  padding-right: 0.7em;
}

@media (max-width: 960px) {
  .projects:nth-child(odd) > *:first-child {
    order: 0;
  }
  .projects:nth-child(odd) > *:last-child {
    text-align: left;
  }
}
